*{
	margin: 0px;

}
body{
	background-color: white;
	font-family: Helvetica, Verdana, Arial;
	color: #005847;
	-webkit-font-smoothing: antialiased;
}
.header{
	width: 100%;
	height: 115px;
	background-color: #ffffff;
}
#logo{
	height: 115px;
}
#logo-left{
}
.container{
	width: 100%;
	
}
.wrapper{
	width: 100%;
}
.dark{
	background-color:white;
	color: white;
}
.wrapper ul{
	height: 40px;
	background-color: #8ec640;
}
.current{
	border-bottom: 2px solid #8ec640;
    background-color: #005847;
    text-decoration: none;
    display: block;
}
.wrapper ul li{
	width: 130px;
	display: inline-block;
	height: auto;
	line-height: 35px;
	text-align: center;
}
ul li a, .dropbtn{
	color: #FFF;
	text-decoration: none;
	display: block;
}
.wrapper ul li a:hover, .dropdown:hover .dropbtn{
	border-bottom: 2px solid #8ec640;
	background-color: #005847; 
}

li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #005847;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1555;
	opacity: 0.95;
}

.dropdown-content a {
    color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #005847;
}

.dropdown:hover .dropdown-content {
    display: block;
}.clear{
	clear: both;
}
aside{
	float: left;
	margin: 0 auto;
	width: 80%;
	height: auto;
	padding: 3%;
}
section{
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
footer{
	position: bottom;
	background: #8ec640;
	width: 100%;
	overflow: hidden;
	opacity: 0.90;
}
footer p, footer h3{
	color: #FFF;
}
footer p a{
	color: #FFF;
	text-decoration: none;
}
ul.social li{
	display: inline-block;
}
ul.social li img{
	height: 50px;
	float: left;
}
footer.second{
	line-height: 30px;
	border-top: 5px solid #005847;
	background-color: #005847;
	max-height: 70px;
	text-align: center;
	opacity: 0.90;
}



